<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cogn.personalblog.dao.GetCommentMapper">
	<!--表名-->
	<sql id="BASE_TABLE">
        comment
    </sql>
	<sql id="BASE_COLUMN">
		comId, commentName, commentContent,authorId,
	</sql>
<!--	获取评论-->
	<select id="getComment" resultType="com.cogn.personalblog.pojo.Comment">
		select * from
		<include refid="BASE_TABLE"/>
		where authorId=#{authorId,jdbcType=INTEGER} order by comId desc
	</select>
</mapper>